<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.cd.mapper.AccountMapper">
	
		
	<insert id="addAccount" parameterType="Account">
			insert into account values(seqaccount.nextval,#{cuaid},#{applyno},#{money},#{datetime},0,0)
	</insert>	
	
	<insert id="editAccount" parameterType="Account">
			delete account where cuaid=#{cuaid}
	</insert>	
	
	<select id="findAccountById" resultType="Account">
		select * from account where cuaid=#{cuaid}
	</select>
	
	<update id="addMoney">
		update account set money=#{money} where cuaid=#{cuaid}
	</update>
	
</mapper>