<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.cd.mapper.BookMapper">
	<select id="getBookByName" parameterType="map" resultType="Cbook">
		select * from (select t.*,rownum rownu from cbook t where
		rownum&lt;=#{currPage}*#{pageSize} and 1=1 and cbfree=1
		<choose>
			<when test="cauthor!=null and cauthor!=''">
				and cauthor like '%${cauthor}%'
			</when>
		</choose>
		<choose>
			<when test="cisbn!=null and cisbn!=''">
				and cisbn like '%${cisbn}%'
			</when>
		</choose>
		<choose>
			<when test="bookname!=null and bookname!=''">
				and bookname like '%${bookname}%'
			</when>
		</choose>
		)tt where tt.rownu>(#{currPage}-1)*#{pageSize}
	</select>

	<select id="getBookTotalAndTotalPage" parameterType="map"
		resultType="PaginationBean">
		select count(1) total,ceil(count(1)/${pageSize})
		totalPage,${pageSize}
		pageSize,${currPage} currPage from cbook where 1=1 and cbfree=1
		<choose>
			<when test="cauthor!=null and cauthor!=''">
				and cauthor like '%${cauthor}%'
			</when>
		</choose>
		<choose>
			<when test="cisbn!=null and cisbn!=''">
				and cisbn like '%${cisbn}%'
			</when>
		</choose>
		<choose>
			<when test="bookname!=null and bookname!=''">
				and bookname like'%${bookname}%'
			</when>
		</choose>
	</select>



	<update id="archiveBook" parameterType="Integer">
		update cbook set cbfree=0
		where cbid=#{cbid}
	</update>


	<select id="detailBook" resultType="Cbook">
		select * from cbook where
		cbid=#{cbid}
	</select>


	<select id="getAllBookNoPage" resultType="Cbook">
		select * from cbook
	</select>

	<update id="modifyBook" parameterType="Cbook">
		update cbook
		<set>
			<if test='cauthor!=null and cauthor!=""'>
				cauthor = #{cauthor},
			</if>
			<if test='cimage!=null and cimage!=""'>
				cimage = #{cimage},
			</if>
			<if test='cisbn!=null and cisbn!=""'>
				cisbn = #{cisbn},
			</if>
			<if test='bookname!=null and bookname!=""'>
				bookname = #{bookname},
			</if>
			<if test='cpublishing!=null and cpublishing!=""'>
				cpublishing = #{cpublishing},
			</if>
			<if test='cpublishtime!=null and cpublishtime!=""'>
				cpublishtime = #{cpublishtime},
			</if>
			<if test='cwordnumber!=null and cwordnumber!=""'>
				cwordnumber = #{cwordnumber},
			</if>
			<if test='ctotalpage!=null and ctotalpage!=""'>
				ctotalpage = #{ctotalpage},
			</if>
			<if test='cintroduce!=null and cintroduce!=""'>
				cintroduce = #{cintroduce},
			</if>
			<if test='catalogue!=null and catalogue!=""'>
				catalogue = #{catalogue},
			</if>
			<if test='edition!=null and edition!=""'>
				edition = #{edition},
			</if>
		</set>
		where cbid=#{cbid}
	</update>


	<select id="isExistBookName"  parameterType="Cbook" resultType="Cbook">
		select * from cbook where  bookname=#{bookname} and cpublishing=#{cpublishing}
	</select>

	<insert id="addBook" parameterType="Cbook">
			insert into cbook values(seqcbook.nextval,#{cauthor},#{cimage},#{cisbn},#{bookname},#{cpublishing},#{cpublishtime},#{cwordnumber},#{ctotalpage},#{cintroduce},#{catalogue},#{edition},1)
	</insert>	
</mapper>