<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.cd.mapper.CommentMapper">
		<resultMap id="CcommentsDetail" type="Ccomments">
		<id property="cid" column="cid" />
		<result property="cuserid" column="cuserid" />
		<result property="cfp" column="cfp" />
		<result property="ccontent" column="ccontent" />
		<result property="theam" column="theam" />
		<result property="ccdate" column="ccdate" />
		<result property="star" column="star" />
		<association property="cuser" javaType="Cuser">
			<id property="cuid" column="cuid" />
			<result property="cusername" column="cusername" />
			<result property="cemail" column="cemail" />
			<result property="cphone" column="cphone" />
			<result property="cphoto" column="cphoto" />
			<result property="clikebook" column="clikebook" />
			<result property="csex" column="csex" />
			<result property="applynum" column="applynum" />
			<result property="cbirthday" column="cbirthday" />
		</association>
		<association property="cproduct" javaType="Cproduct">
			<id property="cpid" column="cpid" />
			<result property="spcaid" column="spcaid" />
			<result property="cproductname" column="cproductname" />
			<result property="cdescription" column="cdescription" />
			<result property="caddtime" column="caddtime" />
			<result property="cnormalprice" column="cnormalprice" />
			<result property="ckeywords" column="ckeywords" />
			<result property="cwsscprice" column="cwsscprice" />
		</association>
	</resultMap>
	<select id="getCommentByName" parameterType="map" resultMap="CcommentsDetail">
		select * from (select t.*,c.*,cp.*,rownum rownu from ccomments t join
		cuser c
		on c.cuid=t.cuserid
		join cproduct cp on cp.cpid=t.cfp where
		rownum&lt;=#{currPage}*#{pageSize} and 1=1
				<if test="cfp!=null and cfp!=''">
				and cfp=#{cfp}
			</if>
			<if test="cuserid!=null and cuserid!=''">
				and cuserid=#{cuserid}
			</if>
		)tt where tt.rownu>(#{currPage}-1)*#{pageSize}
	</select>

	<select id="getCommentTotalAndTotalPage" parameterType="map"
		resultType="PaginationBean">
		select count(1) total,ceil(count(1)/${pageSize})
		totalPage,${pageSize}
		pageSize,${currPage} currPage from ccomments t
		join cuser c on
		c.cuid=t.cuserid
		join cproduct cp on cp.cpid=t.cfp where 1=1
		<if test="cfp!=null and cfp!=''">
				and cfp=#{cfp}
			</if>
			<if test="cuserid!=null and cuserid!=''">
				and cuserid=#{cuserid}
			</if>
	</select>

	
	<select id="getAllDataComment" parameterType="map" resultMap="CcommentsDetail">
	select * from (select t.*,c.*,cp.*,rownum rownu from ccomments t join
		cuser c
		on c.cuid=t.cuserid
		join cproduct cp on cp.cpid=t.cfp where
		rownum&lt;=#{currPage}*#{pageSize} and 1=1 and  cfp=#{cfp}
		)tt where tt.rownu>(#{currPage}-1)*#{pageSize}
<!-- 		select t.*,c.*,cp.*,rownum rownu from ccomments t join
		cuser c
		on c.cuid=t.cuserid
		join cproduct cp on cp.cpid=t.cfp  where cfp=#{cfp} -->
	</select>
	
	<select id="getCommentPageAndPage" parameterType="map" resultType="PaginationBean">
		select count(1) total,ceil(count(1)/${pageSize})
		totalPage,${pageSize}
		pageSize,${currPage} currPage from ccomments t
		join cuser c on
		c.cuid=t.cuserid
		join cproduct cp on cp.cpid=t.cfp where 1=1 and cfp=#{cfp}
	</select>

</mapper>