<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.cd.mapper.OrderMapper">
	<select id="getOrderByName" parameterType="map" resultType="Corder">
		select * from (select t.*,rownum rownu from corder t where
		rownum&lt;=#{currPage}*#{pageSize} and 1=1 and cstatus='normal'
		<choose>
			<when test="coid!=null and coid!=''">
				and coid like '%${coid}%'
			</when>
			<when test="cordid!=null and cordid!=''">
				and cordid like '%${cordid}%'
			</when>
		</choose>
		)tt where tt.rownu>(#{currPage}-1)*#{pageSize}
	</select>	
	
	<select id="getOrderTotalAndTotalPage" parameterType="map"
		resultType="PaginationBean">
		select count(1) total,ceil(count(1)/${pageSize})
		totalPage,${pageSize}
		pageSize,${currPage} currPage from corder where 1=1 and cstatus='normal'
		<choose>
			<when test="coid!=null and coid!=''">
				and coid like '%${coid}%'
			</when>
			<when test="cordid!=null and cordid!=''">
				and cordid like '%${cordid}%'
			</when>
		</choose>
	</select>
	
	
	
	<insert id="insertCorder" parameterType="Corder">
		<selectKey resultType="INTEGER" order="BEFORE" keyProperty="coid">  
			SELECT seqcorder.nextval from DUAL
		</selectKey> 
			insert into corder values(#{coid},#{cordid},'normal',#{cordertime},#{corderdesc},#{ctotalprice},#{cordername},#{cfulladdress},#{cpostalcode},#{cphone},1)
	</insert>	
	
	<insert id="insertCorderDetail" parameterType="Corderitem">
			insert into corderitem values(seqcorderitem.nextval,#{coinumber},#{ciprice},#{cobid},#{corid})
	</insert>	
	
	<update id="cancelOrder">
		update corder set cstatus='nonormal' where coid=#{coid}
	</update>
	
	
	<resultMap id="CorderitemDetail" type="Corderitem">
		<id property="coiid" column="coiid" />
		<result property="coinumber" column="coinumber" />
		<result property="ciprice" column="ciprice" />
		<result property="cobid" column="cobid" />
		<result property="corid" column="corid" />
		<association property="corder" javaType="Corder">
			<id property="coid" column="coid" />
			<result property="cordid" column="cordid" />
			<result property="cstatus" column="cstatus" />
			<result property="cordertime" column="cordertime" />
			<result property="corderdesc" column="corderdesc" />
			<result property="ctotalprice" column="ctotalprice" />
			<result property="cordername" column="cordername" />
			<result property="cfulladdress" column="cfulladdress" />
			<result property="cpostalcode" column="cpostalcode" />
			<result property="cphone" column="cphone" />
		</association>
		<association property="cproduct" javaType="Cproduct">
			<id property="cpid" column="cpid" />
			<result property="spcaid" column="spcaid" />
			<result property="cproductname" column="cproductname" />
			<result property="cdescription" column="cdescription" />
			<result property="caddtime" column="caddtime" />
			<result property="cnormalprice" column="cnormalprice" />
			<result property="ckeywords" column="ckeywords" />
			<result property="cwsscprice" column="cwsscprice" />
		</association>
	</resultMap>
	
	<select id="findorderDetail" resultMap="CorderitemDetail">
		select * from corderitem ci join cproduct c on c.cpid=ci.cobid join corder cd on cd.coid=ci.corid where corid=#{corid}
	</select>	
	
</mapper>