<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.cd.mapper.OrderMapper">
	<select id="getOrderByName" parameterType="map" resultType="Corder">
		select * from (select t.*,rownum rownu from corder t where
		rownum&lt;=#{currPage}*#{pageSize} and 1=1 and cstatus='normal'
		<choose>
			<when test="coid!=null and coid!=''">
				and coid like '%${coid}%'
			</when>
			<when test="cordid!=null and cordid!=''">
				and cordid like '%${cordid}%'
			</when>
		</choose>
		)tt where tt.rownu>(#{currPage}-1)*#{pageSize}
	</select>	
	
	<select id="getOrderTotalAndTotalPage" parameterType="map"
		resultType="PaginationBean">
		select count(1) total,ceil(count(1)/${pageSize})
		totalPage,${pageSize}
		pageSize,${currPage} currPage from corder where 1=1 and cstatus='normal'
		<choose>
			<when test="coid!=null and coid!=''">
				and coid like '%${coid}%'
			</when>
			<when test="cordid!=null and cordid!=''">
				and cordid like '%${cordid}%'
			</when>
		</choose>
	</select>
</mapper>