<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.cd.mapper.UserMapper">
	<cache eviction="LRU" flushInterval="100000" size="1024"
		readOnly="true" />
	<!-- 按照条件查询分页 -->
	<resultMap id="detailMap" type="Cuser">
		<id property="cuid" column="cuid" />
		<result property="cusername" column="cusername" />
		<result property="cpassword" column="cpassword" />
		<result property="cemail" column="cemail" />
		<result property="csex" column="csex" />
		<result property="cphoto" column="cphoto" />
		<result property="statue" column="statue" />
		<result property="applynum" column="applynum" />
		<result property="clikebook" column="clikebook" />
		<result property="cbirthday" column="cbirthday" />
		<result property="cphone" column="cphone" />
		<result property="clastloginip" column="clastloginip" />
	</resultMap>

	<resultMap type="paginationBean" id="paginationBeanMap1">
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage,cuid=cuid,cusername=cusername}"
			select="selectUserDetail" />
	</resultMap>

	<select id="selectUserDetail" resultMap="detailMap">
		select * from cuser c where 1=1 and cufree=1
		<choose>
			<when test='cuid==1 and cusername=="username"'>
				and c.cuid like '%%' and c.cusername like '%%'
			</when>
			<when test='cuid==1 and cusername!=null and cusername!=""'>
				and c.cusername like '%${cusername}%'
			</when>
			<when test='cuid!=null and cuid!="" and cusername=="username"'>
				and c.cuid like '%${cuid}%'
			</when>
			<otherwise>
				and c.cuid like '%${cuid}%' and c.cusername like '%${cusername}%'
			</otherwise>
		</choose>
	</select>

	<select id="getUsersByPagination1" parameterType="map"
		resultMap="paginationBeanMap1">
		select count(1) total,ceil(count(1)/${pageSize}) totalPage,${pageSize}
		pageSize,${currPage} currPage
		<choose>
			<when test="cuid!=null and cuid!=''">
				,${cuid} cuid
			</when>
			<otherwise>
				,1 cuid
			</otherwise>
		</choose>
		<choose>
			<when test="cusername!=null and cusername!=''">
				,#{cusername} cusername
			</when>
			<otherwise>
				,'username' cusername
			</otherwise>
		</choose>
		from (
		select * from cuser where 1=1 and cufree=1
		<if test="cuid!=null and cuid!=''">
			and cuid like '%${cuid}%'
		</if>
		<if test="cusername!=null and cusername!=''">
			and cusername like '%${cusername}%'
		</if>
		)
	</select>
	<!-- 按照条件查询分页结束 -->
	<update id="dynaUpdate" parameterType="map">
		update students
		<set>
			<if test="pname!=null">
				students_name = #{pname},
			</if>
			<if test="psal!=null">
				students_sal = #{psal},
			</if>
		</set>
		where students_id = #{pid}
	</update>
	<update id="modifyUser" parameterType="Cuser">
		update cuser
		<set>
			<if test='cusername!=null and cusername!=""'>
				cusername = #{cusername},
			</if>
			<if test='cemail!=null and cemail!=""'>
				cemail = #{cemail},
			</if>
			<if test='csex!=null and csex!=""'>
				csex = #{csex},
			</if>
			<if test='cphone!=null and cphone!=""'>
				cphone = #{cphone},
			</if>
			<if test='clastloginip!=null and clastloginip!=""'>
				clastloginip = #{clastloginip},
			</if>
			<if test='cphoto!=null and cphoto!=""'>
				cphoto = #{cphoto},
			</if>
			<if test='applynum!=null and applynum!=""'>
				applynum = #{applynum},
			</if>
			<if test='cbirthday!=null and cbirthday!=""'>
				cbirthday = #{cbirthday},
			</if>
		</set>
		where cuid=#{cuid}
	</update>

	<!-- 根据id获取用户信息 -->

	<select id="getUserMsgById" parameterType="Integer" resultType="Cuser">
		select * from cuser where cuid=#{cuid}
	</select>
	
	<!-- 删除用户 -->
	<update id="archiveUser" parameterType="Integer">
		update cuser set cufree=0 where cuid=#{cuid}
	</update>
	
	<select id="userLogin" parameterType="Cuser"  resultType="Cuser">
		select * from cuser where cusername=#{cusername} and cpassword=#{cpassword}
	</select>
	
	
</mapper>