.carousel {
	width: 750px;
	height: 430px;
	float: left;
}
.focusBox {
	margin: 0 auto;
	position: relative;
	width: 750px;
	height: 430px;
	margin-top: 50px;
	padding: 5px;
	background: #f5f5f5;
	overflow: hidden;
}

.focusBox .hd {
	height: 22px;
	position: absolute;
	z-index: 1;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
}

.focusBox .hd ul {
	float: right;
	overflow: hidden;
}

.focusBox .hd li {
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	background: #999;
	color: #fff;
	font-family: Arial;
	float: left;
	margin: 0 1px;
	display: inline;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	cursor: pointer;
}

.focusBox .hd li.on {
	background: #c00;
}

.focusBox .bd li {
	vertical-align: middle;
}

.focusBox .bd li img {
	width: 750px;
	height: 430px;
	display: block;
}

#regUser{
    width: 290px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-left: 47px;
    margin-top: 16px;
    background: #e41730;
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 3px #cc0717;
}